<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :linker %><br />
    <%= f.text_field :linker %>
  </div>
  <div class="field">
    <%= f.label :predicate %><br />
    <%= f.text_field :predicate %>
  </div>
  <div class="field">
    <%= f.label :linked %><br />
    <%= f.text_field :linked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
